body {
    background-color: black;
    text-align: center;
    margin-top: 4em;
}

#doomface {
    height: 150px;
    width: auto;
    margin-bottom: 1em;
}

#jumblerBtn {
    background-color: black;
    color: whitesmoke;
    border: solid 2px goldenrod;
    border-radius: 0.5em;
    height: 3em;
    width: auto;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
}

#jumblerBtn:hover {
    
    color: red;
}

#header {
    font-size: 2em;
    margin-bottom: 1em;
    color: ghostwhite;
}

#blake {
    margin: 0 auto;
    padding: 0 6em;
    font-size: 3em;
}